/* CSS Document */
.body{
	clear: both;
}
.spacer{
	float: left;
	width: 10px;
}
.holder{
	float: left;
	width: 220px;
	height: 220px;
	overflow: auto;
	align-content: center;
	text-align: center;
}
.footer{
	clear: both;
}
.button{
	background-color: darkgray;
	color: black;
	border: medium;
	border-style: solid;
	border-radius: 5px;
	text-align: center;

}
/*
Animation
*/
.button:hover{
	background-color: cornflowerblue;
	color: black;
	cursor: pointer;
}

